* {
    font-family: "Poppins", sans-serif;
}

html, body {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #d0ecff;
}

.u-center {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #B7E4FF;
}

.logo-indata{
    padding: 10px;
    max-width: 200px;
}

.header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

h1 {
    color: #3273FF;
}

#login {
    display: flexbox;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    color: black;
    box-shadow: 1px 1px 23px -1px rgba(0,0,0,0.28);
}

main {
    display: flex;
    justify-content: space-evenly;
}
