/* static/usuarios/estilos.css */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.encabezado {
    background-color: #c3f0ff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
}

.perfil i {
    margin-left: 10px;
}

.contenedor {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #a5e9ff;
    padding: 20px 0;
    height: calc(100vh - 50px);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    color: #000;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.sidebar a:hover {
    background-color: #87dfff;
    border-radius: 5px;
}

.contenido {
    padding: 30px;
    width: 100%;
    background-color: white;
}
