/* static/usuarios/estilos.css */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.encabezado {
    background-color: #c3f0ff;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.data-EAS {
    display: flex;
}

#logo-EAS {
    margin-right: 10px;
    max-width: 100px;
}

#nit-EAS {
    margin: 0;
    font-weight: bold;
    color: #000;
}

.container-menu-perfil {
    display: flex;
    align-items: center;
}

.separator {
    width: 1px;
    height: 50px;
    background-color: #000;
    margin: 0 20px;
}

.menu-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding-right: 12px;
}

.info-perfil {
    display: flex;
    flex-direction: row;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    justify-content: center;

    h2 {
        margin: 0;
        font-size: 18px;
        color: #000;
    }
    h3 {
        margin: 0;
        font-size: 14px;
        font-style: italic;
        color: rgba(128, 128, 128, 0.901);
    }

    i {
        padding: 15px;
        background-color: pink;
        border-radius: 50%;
        margin-right: 5px;
        height: auto;
        font-size: 20px;
    }
}

.contenedor {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #a5e9ff;
    padding: 20px 0;
    height: calc(100vh - 50px);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    color: #000;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.sidebar a:hover {
    background-color: #87dfff;
    border-radius: 5px;
}

.contenido {
    padding: 30px;
    width: 100%;
    background-color: white;
}
