
{% extends 'base.html' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
<h1>Lista de Personas</h1>
<a href="{% url 'agregar_persona' %}">Agregar Persona</a>
<ul>
    {% for persona in personas %}
        <li>
            {{ persona.nombre }} {{ persona.apellido }} - {{ persona.numero_identificacion }}
            <a href="{% url 'editar_persona' persona.id %}">Editar</a>
            <a href="{% url 'eliminar_persona' persona.id %}">Eliminar</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}


