<!-- Tabla de madres registradas -->
<div style="margin-top: 40px">
  <h2>Madres Registradas</h2>
  <button id="eliminar-madres-btn" style="margin-bottom: 10px; display: none">
    Eliminar
  </button>
  <table
    id="tabla-madres"
    border="1"
    style="width: 100%; border-collapse: collapse"
  >
    <thead>
      <tr>
        <th></th>
        <th>N°</th>
        <th>Usuario</th>
        <th>Contraseña</th>
        <th>Tipo</th>
        <th>DNI</th>
        <th>Primer Nombre</th>
        <th>Segundo Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Aquí se insertarán las filas dinámicamente -->
    </tbody>
  </table>
</div>
