<div style="margin-top: 40px"></div>
  <h2>Madres Registradas</h2>
  <table
    id="tabla-madres"
    border="1"
    style="width: 100%; border-collapse: collapse"
  >
    <thead>
      <tr>
        <th>N°</th>
        <th>Usuario</th>
        <th>Tipo</th>
        <th>DNI</th>
        <th>Primer Nombre</th>
        <th>Segundo Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>ID EAS</th>
      </tr>
    </thead>
    <tbody>
      <!-- Aquí se insertarán las filas dinámicamente -->
    </tbody>
  </table>
</div>