<!-- Tabla de infantes registrados -->
    <div style="margin-top: 40px">
      <h2>Infantes Registrados</h2>
      <table
        id="tabla-infantes"
        border="1"
        style="width: 100%; border-collapse: collapse"
      >
        <thead>
          <tr>
            <th>N°</th>
            <th>Primer nombre</th>
            <th>Segundo nombre</th>
            <th>Primer apellido</th>
            <th>Segundo apellido</th>
            <th>Tipo de documento</th>
            <th>Número de documento</th>
            <th>Tipo focalización</th>
            <th>UDS</th>
            <th>Documento focalización</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí se insertarán las filas dinámicamente -->
        </tbody>
      </table>
    </div>

